{
  "eslintIntegration": true,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "editor.wordWrap": "off",
  "editor.rulers": [120],
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "never",
  "jsxSingleQuote": true
}
